html {
  overflow: hidden;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  margin: 0px;
  background-color: #a8c5e29f;
}

body::-webkit-scrollbar {
  display: none;
}


.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  padding-left: 200px;
}

@media (min-width: 680px) {
  .hero-section {
    flex-direction: row;
  }
  .hero-section > * {
    flex: 1;
  }
}

.hero-section .content {
  text-align: center;
  max-width: 100%; 
}
h1 {
  color:  rgb(52, 80, 158); 
  text-shadow: 2px 2px white; 
}
.hero-section .content h1 {
  font-size: 2.5em; 
  color: white;
  -webkit-text-stroke: 1px rgb(52, 80, 158); 
  text-shadow: 
    3px 3px 0px  rgb(52, 80, 158), 
    -1px -1px 0px rgb(52, 80, 158), 
    -2px 2px 0px rgb(52, 80, 158), 
    2px -2px 0px rgb(52, 80, 158); 
}

.hero-section .content h1 span {
  color:  rgb(52, 80, 158); 
  text-shadow: 2px 2px rgb(175, 175, 193); 
}

.hero-section .content p {
    background-color: rgb(52, 80, 158); 
    color: white; 
    text-transform: uppercase; 
    font-weight: bold; 
  font-size: 18px; 
  margin-bottom: 15px;
}

.hero-section .content div {
  font-size: 1.2em;
  font-style: italic;
  margin: 0 20px 20px 20px;
}

.hero-section .content a {
  display: inline-block;
  border: 2px solid  rgb(52, 80, 158);
  color: rgb(52, 80, 158) ;
  padding: 10px 20px;
  border-radius: 25px;  
  text-decoration: none; 
  transition: background-color 0.3s ease;
  margin: 20px 0 ;
}

.content a:hover {
  background-color:   rgb(52, 80, 158);
  color: white;
}

.hero-section .content a:hover {
  background-color: rgb(52, 80, 158); 
}

.hero-section .hero-image {
  margin-top: -40px;
  height: 80%; 
}

.hero-section .hero-image img {
  width: 100%; 
  max-width: 100%; 
  height: 80%; 
}

@media (min-width: 680px) {
  .hero-section .content, .hero-section .hero-image {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100%;
  }
  
  .hero-section .content {
    order: 1;
  }
  
  .hero-section .hero-image {
    order: 2; 
    max-width: 50%; 
  }
}

@media (max-width: 679px) {
  .hero-section .hero-image img {
    width: 100%;
    max-width: 100%;
    height: 90%;
    margin: 30px 0 0 0;
  }

  .hero-section{
    padding-left: 0;
  }
  .hero-section .content {
    text-align: center;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
  }

  .hero-section .content a {
   width: 50%;
   margin: 20px auto;
  }
}

@keyframes moveBubble1 {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(150px) translateY(-100px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes moveBubble2 {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  50% {
    transform: translateX(-150px) translateY(100px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

.bubble1.run-animation,
.bubble2.run-animation,
.bubble3.run-animation,
.bubble4.run-animation {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.5);
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.bubble1.run-animation {
  width: 100px;
  height: 100px;
  top: 20%;
  animation-name: moveBubble1;
}

.bubble2.run-animation {
  width: 80px;
  height: 80px;
  top: 50%;
  left: 30%;
  animation-name: moveBubble2;
}

.bubble3.run-animation {
  width: 120px;
  height: 120px;
  top: 70%;
  left: 45%;
  animation-delay: 5s; /* Décalage pour que les animations ne soient pas synchronisées */
  animation-name: moveBubble1;
}

.bubble4.run-animation {
  width: 100px;
  height: 100px;
  top: 40%;
  left: 80%;
  animation-name: moveBubble2;
}

.about-section {
  display: flex;
  justify-content: center;
  padding-left: 200px; 
  box-sizing: border-box;
  height: 100vh;
}

.about-content {
  max-width: 100%;
  text-align: center;
  flex-direction: column;
  display:flex;
  align-items: stretch;
  justify-content: space-around;
}

.about-content h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}


.about-content p{
  color: rgb(52, 80, 158); 
  font-weight: bold;
  font-size: 1.8em;
}

.about-description{
  background-color:#cfd6dc9f;
  border: 1px solid #cfd6dc9f; 
  color:#4a5a6b;
  border-radius: 90px;
  font-size: 1.1em;
  padding: 6px;
  margin: 4px;
}


.about-content p,
.about-description,
.about-icons {
  margin-bottom: 1em;
}

.icon-container {
  text-align: center;
  flex-basis: 18%; 
}

.about-icons .icon-container {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.about-icons .icon-container img {
  width: 50px; 
  height: auto;
}

.project-item{
  font-size: 1.1em;
  color:#0D47A1;
  font-weight: bold;
}

.about-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

blockquote {
  color: #555;
  border-left: 4px solid rgb(52, 80, 158);

  margin: 20px 20%;
  border-radius: 5px;
  width: auto;
}

@media (max-width: 680px) {
  .about-section {
    padding-left: 0;
  }
  
  .icon-container {
    width: 50%;
  }
}


@media (max-width: 450px) {
  .about-section {
    height:auto;
  }
}


.portfolio-section {
  display: flex;
  justify-content: center;
  padding-left: 200px;
  box-sizing: border-box;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}

.portfolio-title h2 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

.portfolio-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid rgb(52, 80, 158);
  background-color: transparent;
  color: rgb(52, 80, 158);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.category-btn.active, .category-btn:hover {
  background-color:rgb(52, 80, 158);
  color: white;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width:40%; 
  padding: 20px;
}

.project-item img {
  width: 100%;
  height: auto;
}

@media(max-width: 1000px){
  .project-item{
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 680px) {
  .portfolio-section {
    padding-left: 0;
  }

  .project-item {
    width: calc(55%);
    height: 100%;
  }

  .project-item img {
    width: 40%;
    height: 50%;
  }
}


@media (max-width: 480px) {
  .project-item {
    width: 80%;
    height: 100%;
    padding: 10px;
  }

  .project-item img {
    width: 50%;
    height: 50%;
  }
  
}

.parcours-section {
  display: flex;
  justify-content: center;
  padding-left: 200px; 
  box-sizing: border-box;
  max-height: 100vh;
  min-height: 100vh;
}

.parcours-section a {
  margin-top: -40px;
}
.container {
  max-width: 100%;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  min-height: 100vh;
}
.container .animated-text{
  padding: 0 10px;
}
.container h2, .container h3 {
  font-size: 1.8em;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
}

.experience-row, .education-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-detail, .education-detail {
  margin-bottom: 1em;
  text-align: left;
  max-width: 600px; 
}

.experience-title{
  background-color: #009688;
  margin: 5px 0;
}

.experience-title, .experience-date {
  font-weight: bold;
}

.separator {
  height: 2px;
    border-bottom: 2px dashed rgb(52, 80, 158);
  width: 80%;
}

.cv-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(52, 80, 158); 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  text-transform: uppercase; 
  font-weight: bold; 
  font-size: 1em; 
  transition: background-color 0.3s; 
}

.cv-button:hover {
  background-color: white;
  color:  rgb(69, 95, 167);
  border: 1px solid  rgb(69, 95, 167);
}

@media (max-width: 680px) {
  .parcours-section, .about-section {
    padding-left: 0;
  }

  .parcours-section h2, .container h3{
    font-size: 1.5em;
  }

  .parcours-section {
    font-size: 0.9em;
  }
  .parcours-section h2 {
    display: none;
  }
}

@media (max-width:755px) {
  .parcours-section .container {
    min-height: 100vh;
  }
  .experience-detail {
    margin-bottom: 0.5em;
  }
}

@media (max-width: 450px) {
  .parcours-section {
    margin-bottom: 0;
  }
  .parcours-section h2{
    font-size: 2em;
  }
}

.contact-section {
  padding-left: 200px; 
  box-sizing: border-box;
  text-align: center;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-section h1, .collaborations h2, .follow h2, .contact-form h2 {
  margin-bottom: 0.5em;
}

.collaborations, .follow-contact-container {
  margin-bottom: 2em;
}

.icon {
  width: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.follow p, .contact-form p {
  text-align: left;
  margin-bottom: 1em;
}

.follow, .contact-form {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.contact-form form {
  text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-section h2 {
  font-size: 2em;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dbcece;
}


.contact-form button {
  background-color: #009688;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3; 
}

@media (max-width:729px){
  .collaborations {
    margin-bottom: 0;
  }

}

h2, h3 {
  font-weight: bold;
  color: #4a5a6b;
}


@media (max-width: 680px) {
  .contact-section {
    padding-left: 0;
    margin: 20px;
  }

  .follow, .contact-form {
    width: 100%;
    margin: 10px 0;
  }

  .collaborations {
    display: none;
  }

  .contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-text {
  animation: enterFromRight 1s ease forwards;
}



.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-around;
  padding: 0 25px;
}


.menu img {
  width: 100%;
  height: 40%;
  object-fit: cover; 
}

.navigation li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-text {
  animation: enterFromRight 1s ease forwards;
}


.navigation li a {
  padding: 30px
}





.burger-menu-button {
  cursor: pointer;
  padding: 10px;
  display: none;
}

.menu {
  width: 200px;
  height: 100vh;
  background:#4a5a6b;
  color: #4a5a6b;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.navigation a:hover{
  color: rgb(69, 95, 167);
}

.menu img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-around;
  margin: 0 20px;
}

.navigation li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  display: none; 
}


@media (max-width: 680px) {
  .burger-menu-button {
    display: block;
    position: fixed;
    z-index: 100;
    right: 10px;
    top: 10px;
  }

  .menu {
    width: 200px; 
    transform: translateX(-200px); 
    transition: transform 0.3s ease-in-out;
  }

  .menu.open {
    transform: translateX(0); 
  }

  .close-button {
    display: block; 
  }
}
.menu {
  display: block; 
}


@media (max-width: 690px) {
  .hero-section .menu {
    display: none;
  }
}


