body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
  background-color: #f0f0f0;
}


.hero-section {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.hero-image {
  flex: 1;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%; 
  height: 70vh; 
}

.content {
  flex: 1;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
}

.content h1 {
  font-size: 2.5em; 
  color:  rgb(52, 80, 158); 
  text-shadow: 2px 2px white; 
}


.content span {
  font-size: 2.5em; 
  color: white;
  -webkit-text-stroke: 1px rgb(52, 80, 158); 
  text-shadow: 
    3px 3px 0px  rgb(52, 80, 158), 
    -1px -1px 0px rgb(52, 80, 158), 
    -2px 2px 0px rgb(52, 80, 158), 
    2px -2px 0px rgb(52, 80, 158); 
}

.content p {
  background-color: rgb(52, 80, 158); 
  color: white; 
  text-transform: uppercase; 
  font-weight: bold; 
  padding: 10px; 
  border-radius: 10px; 
  display: inline-block; 
}

.content div {
  margin-top: 20px; 
  font-size: 1.2em; 
  padding: 0 20px; 
}

.content a {
  display: inline-block; 
  margin-top: 20px; 
  padding: 10px 20px;
  border: 2px solid  rgb(52, 80, 158);
  color: rgb(52, 80, 158); 
  text-transform: uppercase; 
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px; 
  transition: background-color 0.3s, color 0.3s; 
}

.content a:hover {
  background-color:  rgb(69, 95, 167);;
  color: white;
}

.home-page .menu {
  display: none; 
}



.about-section {
  background-color: #f0f0f0;
  padding: 0 0 0 15%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: auto;
  position: relative;
}

.about-content {
  max-width: 800px; 
  margin: auto;
  font-size: 1.5em; 
  font-weight: bold;
  padding-bottom: 20px;
}

.about-content h2 {
  margin-bottom: 20px; 
  margin-top: 10%;
}

.about-content p {
  color: rgb(52, 80, 158); 
  margin-bottom: 20px; 
}

.about-description {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc; 
  margin-bottom: 20px; 
}

.about-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.icon-container {
  text-align: center;
  flex-basis: 18%; 
}

.about-icons .icon-container {
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.about-icons .icon-container img {
  width: 50px; 
  height: auto;
}

.about-icons .icon-container p {
  margin-top: 5px;
}

.about-description, .about-icons, blockquote {
  margin: 20px 0; 
}

blockquote {
  border: none;
  padding-left: 0;
}

.citation-container {
  width: 100%;
  border-top: 3px solid rgb(52, 80, 158); 
}

blockquote {
  font-style: italic;
  color: #555;
  border-left: 4px solid rgb(52, 80, 158);
  padding-left: 20px;
  margin-top: 20px;
}

.portfolio-section {
  text-align: center;
  height: 100vh;
  background-color: #f0f0f0; 
  padding: 0 0 0 5%;
  position: fixed;
  left: 0;
  width: 100%;
  transition: top 0.5s ease-in-out;
  z-index: 2; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.portfolio-title h2 {
  font-size: 2.4em;
}

.portfolio-categories {
}

.category-btn {
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid rgb(52, 80, 158);
  background-color: transparent;
  color: rgb(52, 80, 158);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.category-btn.active,
.category-btn:hover {
  background-color: rgb(69, 95, 167);
  color: white;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.project-item {
  width: calc(33.333% - 20px);
  margin: 10px;
  background-color: #009688;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #009688;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.project-item img {
  max-width: 200px;
  height: 100px;
  margin-bottom: 10px;
}

.project-item p {
  color: white;
}

.project-item:hover {
  transform: scale(1.05);
}

.parcours-section{
  height: 100vh;
}

.parcours-section h2 {
  text-align: center;
  margin-bottom: 5%;
  margin-top: -12%;
  font-size: 2.1em;
}

.parcours-section h3 {
  color: #333;
  margin-bottom: 2%;
  font-size: 1.8em;
}


.experience-title {
  display: inline-block; 
  padding: 5px 10px; 
  font-weight: bold;
  color: #f0f0f0;
  background-color: #009688;
  text-align: center;
  margin: 0 auto; 
}

.experience-date {
  padding: 20px 0;
}


.experience-row, .education-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.experience-detail, .education-detail {
  flex: 1;
  background-color: #f0f0f0; 
  margin-right: 10px;
  padding: 10px;
}


.parcours-section, .contact-section {
  height: 100vh;
  background-color: #f0f0f0;
  padding: 0 0 0 10%;
  position: fixed;
  top: 100vh; 
  left: 0;
  width: 100%;
  transition: top 0.5s ease-in-out;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parcours-section .container{
  box-sizing: border-box;
  width: 50%;
  height: 70%;
}

.separator {
  border-bottom: 2px dashed rgb(52, 80, 158);
}

.cv-button {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  background-color: rgb(52, 80, 158); 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  text-transform: uppercase; 
  font-weight: bold; 
  font-size: 1em; 
  transition: background-color 0.3s; 
}

.cv-button:hover {
  background-color: white;
  color:  rgb(69, 95, 167);
  border: 1px solid  rgb(69, 95, 167);
}


.burger-menu-button {
  display: none; 
  cursor: pointer;
  font-size: 30px;
  padding: 20px;
}

.menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: #333;
  color: white;
  padding: 0;
  z-index: 3;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}

.menu.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.menu img {
  width: 100%;
  height: 50%; 
  object-fit: cover;
  margin-bottom: 0; 
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center;
  height: 45%; 
  list-style-type: none;
  padding: 0;
}


.navigation li {
  margin: 0px 0; 
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
}

.navigation a:hover{
  color: rgb(69, 95, 167);
}

section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.contact-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
}

.contact-section h1 {
  margin-bottom: 20px;
  font-size: 2.3em;
}

.contact-section h2 {
  color:rgb(69, 95, 167);
  font-weight: bold;
  font-size: 2em;
}

.contact-section p {
  font-size: 1em
}

.contact-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.collaborations{
  margin: 0 10%;
}

.follow, .contact-form {
  flex: 1;
  margin-right: 10px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input, .contact-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 10px;
  background-color: #009688;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #007766;
}

.follow img.icon {
  vertical-align: middle; 
  margin-right: 8px; 
  width: 24px; 
  height: auto; 
}

@media screen and (max-width: 1290px) {
  .content {

    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 100vh;
    margin-top: -10%;
  }
  .portfolio-section {
    width: 100%;
    height: 100vh;
    margin: auto auto auto 75px;
    display: flex;
   }

   .collaborations {
    margin: 0 12% 0 15%;
   }


  .parcours-section{
    width: 100%;
    height: 100vh;
  }

  .parcours-section h2 {
    font-size: 1.5em;
  }

  .parcours-section h3 {
    font-size: 1.2em;
  }

  .about-section {
    height: 100vh;
    margin: 0 0 0 10%;
   }
}


@media screen and (max-width: 970px ) {

  .portfolio-section{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 0 0 8%;
  }
  .parcours-section{
    margin: 0 0 0 18%;
    padding: 0 0 ;
    width: 100%;
  }

  .contact-section{
    display: flex;
    padding: 0 0 0 150px;
  }

  .portfolio-categories{
    width: 60%;
  }

  .portfolio-items{
    width: 60%;
    display: flex;
  }

  .project-item img {
    max-width: 150px;
    height: 100px;
    margin-bottom: 10px;
  }

  .parcours-section h2 {
    font-size: 1.3em;
  }

  .about-section {
    height: 100vh;
    margin: 0 0 0 20%;
   }

  .parcours-section .container{
    width: 70%;
  }
}

@media screen and (max-width: 780px) {
  .parcours-section {
    margin: -5% 0 0 20%;
  }

  .contact-section{
    display: flex;
    padding: 0 0 0 150px;
  }

}



@media screen and (max-width: 680px) {
  .content {
    margin: 0 60px 0 0 ;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .portfolio-items{
    width: 100%;
  }

  .parcours-section .container{
    width: 100%;
  }

  .portfolio-categories{
    width: 100%;
  }


  .content div {
    margin: 0 50px;
  }

  .content p {
    margin:0 auto;
  }

  .content a {
    margin:0 auto;
  }

  .hero-image {
    display: none;
  }

  .content {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-around;
    align-items: normal;
    text-align: center; 
  }

  .about-section, .portfolio-section, .parcours-section, .contact-section {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .burger-menu-button {
    display: block; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
  }

  .menu {
    transform: translateX(-100%); 
    transition: transform 0.5s ease-in-out;
    will-change: transform; 
    display: block;
  }

  .menu.active {
    transform: translateX(0);
    transform: translateX(0); 
  }
  .close-button {
    font-size: 30px; 
    cursor: pointer;
    position: absolute;
    top: 20px; 
    right: 20px; 
    color: white; 
  }
}

@media (min-width: 681px) {
  .hero-section {
    flex-direction: row; 
  }
}